body {
    background-color: #2F2F2F;
    
}

.header {
    background-color: #B80C09;
    font-family: "Saira", sans-serif;
    color: #EFF2F1;

}
.navigation {
    background-color: #B80C09;
    font-family: "Saira", sans-serif;
    margin: 0px;
    
}


.main h2 {
  font-family: "Saira", sans-serif;
  color: #FF8C42;
}

.main p {
  font-family: "Raleway", sans-serif;
  color: #EFF2F1; 
}

/* Assigned names for grid*/
.header {grid-area:header;}
.navigation {grid-area:navigation;}
.main {grid-area:main;}
.footer {grid-area:footer;}


/* Mobile */

.grid {
    display:grid;
    grid-template-areas: 
    'header'
    'navigation'
    'main'
    'footer';
    padding: 0px;
    grid-gap: 10px;
    
}

.grid > * {
    padding: 1em;
    border: 1px solid black;
    margin: 0px
    
}

/*Navigation*/

.container {
  display:flex;
  list-style: none;
  /* flex-wrap: wrap; */
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
}
.container > li {
  background-color: #FF8C42;
  border: 2px solid black;
  border-radius: 30px;
  padding: .5em;
  margin: .3em;
  
}

/* Tablet */

@media only screen and (min-width: 550px) and (max-width: 959px){
  .grid {
    grid-template-areas: 
    'header header navigation'
    'main main main'
    'footer footer footer';
    background-color: red;
  }
}


/* PC Monitor */

@media only screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-areas: 
    'header header header'
    'none none navigation'
    'main main main'
    'footer footer footer';
    grid-template-columns: auto 50%;
    
  }
  .container {
    flex-direction: row;
    justify-content: space-around;
  
  }
  .container > li {
  background-color: #FF8C42;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 0px;
  flex-wrap: wrap;
  
  }
  .main {
    margin: auto 10%;
  }
}