/*Colour variables*/
:root {
  --orange: #FF8C42;
  --darkorange: #FF771F;
  --lightorange: #FFA064;
  --shadoworange: #DA722F;
  --red: #B80C09;
  --otherred: #BD2220;
  --darkred: #941816;
  --white: #FFF2F1;
  --grey: #2F2F2F;
  --lightgrey: #4C4C4C;
  --othergrey: #535353;
  --lightergrey: #848484;
  --black: #000F08;
}




body { /*OVERALL BODY*/
    background-color: var(--grey);
    margin: 0;
    padding: 0;
}



/* Assigned names for grid*/
.header {grid-area:header;}
.main {grid-area:main;}
.footer {grid-area:footer;}

/*The Overall Grid (Mobile)*/

.grid {
    display:grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';   
    
    /* min-height: 100vh; */
}

/*Header - flex layout with both headline and navigation*/

.header {  
    display: flex;
    flex-direction: column; /*Change this value in media query for desktop*/
    
    
    
}

/*Header styling, without the navigation*/

.headline {
    background-image: linear-gradient(var(--darkred), var(--otherred), var(--otherred), var(--darkred)); /*Headline gradient*/
    /* background-color: var(--orange); */
    font-family: "Saira", sans-serif;
    font-weight: 400;
    color: var(--white);
    padding: 1rem;
    margin: 0px;
    letter-spacing: .3em;
    
    
}

/*Navigation*/

.container {
  display: flex;
  flex-direction: column; /*Change in media query*/
  

  margin: 0px;
  padding: 0px 4rem;
  

  text-align: left;
  list-style: none;
  
  background-color: var(--lightgrey); 

  border-bottom: 2px solid var(--black);
  border-top: 2px solid var(--black);
  
}

.container li {  /* Styling for every item in the navigation list */
  font-size: 1.5rem;
  font-family: "Saira", sans-serif;
  font-weight: 200;
  margin: .7rem;
  padding: .4rem;
  padding-left: 3rem;
  border-radius: 1rem;
  border: 2px solid var(--black);
  
  
  
}

.container .dropdown { /*Styling for the dropdownable nav list items*/
  background-color: var(--darkorange);
  
}

.container .notdrop { /*Styling for the NOT dropdownable nav list items*/
  background-color: var(--grey);
  color: var(--white);
  
  
}
.container .notdrop:hover {
  box-shadow: inset 0 1px 3px var(--lightergrey), 1px 1px 5px var(--grey);
  background-color: var(--othergrey);
}



.fa-bars { /*Burger menu icon styling, remove this in media query*/
  
  float: right;
  padding: .4rem;
  padding-right: 2rem;
  
}





/* Dropdown */ 

    .container > .dropdown:hover {
      background-color: var(--orange);
      box-shadow: inset 0 1px 3px var(--white), 0 1px 2px var(--grey);
    }
    .dropdown {
      cursor: pointer;
      border: none;
      
    }


    .dropdown-content { /*Dropdown not showing without hovering*/
      display:none;
      position: absolute;   
    }
    


    .dropdown-content a {
      display: block;
      animation-name: dropdown;
      animation-duration: .5s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0,.61,.37,1); /*Used Cubic-bezier.com, did a harsher ease out curve: https://cubic-bezier.com/#0,.61,.37,1 */
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-top: 1px solid black;

      text-align: left;
      background-color: #FF8C42;
      text-decoration: none;
      color: black;  
      font-size: 20px;
      width: 5.5em;
      padding: .2em;
      
    }
    .lastdd-content {
      border-bottom: 1px solid black;
    }
    .dropdown-content a:hover {
      background-color: var(--red)
    }

      /*Animation*/
    @keyframes dropdown {
      from {
        
        height: 0px;
        opacity: 0%;
        
      }
      to {
        
        height: 1.7em;
        opacity: 100%;
        
      }
    }

    .dropdown:hover .dropdown-content {
      display: block;
      
    }






/*Main Styling*/

.main {
  padding: 2rem;
  
}

.main h2 {
  font-family: "Saira", sans-serif;
  text-align: center;
  color: var(--orange);
}

.main p {
  font-family: "Raleway", sans-serif;
  color: var(--white)
}

/*Footer Styling*/

.footer {
  font-family: "Raleway", sans-serif;
  text-align: left;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  padding-left: 2rem;
  
}
.footer p {
  padding: 0px;
  margin: .3rem;
}

/* Tablet */

@media only screen and (min-width: 550px) and (max-width: 959px){
  .grid {
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
    background-color: red;
    
  }
}

/* Desktop */



@media only screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
  
    grid-template-columns: auto 50%;
  
    
  }
  .container {
    display: flex;
    flex-direction: row; 
    
  }
}