body {
    background-color: #2F2F2F;
    margin: 0;
    padding: 0;
    width: 100vw;

}

.main h2 {
  font-family: "Saira", sans-serif;
  color: #FF8C42;
}

.main p {
  font-family: "Raleway", sans-serif;
  color: #EFF2F1; 
}

/* Assigned names for grid*/
.header {grid-area:header;}
.navigation {grid-area:navigation;}
.main {grid-area:main;}
.footer {grid-area:footer;}


/* Grid for Mobile */

.grid {
    display:grid;
    grid-template-areas: 
    'header'
    'navigation'
    'main'
    'footer';
    padding: 0px;
    grid-gap: 10px;
    
}

.grid > * {
    padding: 0px;
    margin: 0px
    
}
    

/*Header*/

.header {
    background-color: grey;
    font-family: "Saira", sans-serif;
    font-weight: 100;
    color: #EFF2F1;
    text-align: center;    
    padding: 0px;
    margin: 0px;
    letter-spacing: .3em;
    display: flex;
    width: 100vw;
    
}
.header h1 {
  font-weight: 400;
  font-size: clamp (2vh, 3vh, 4vh);
  
}


/*Navigation*/


.navigation {
    background-color: #B80C09;
    font-family: "Saira", sans-serif;
    margin-top: 1em;   
    border: 1px solid #B80C09;
    display: flex;
    
}


.container {
  list-style: none;
  text-align: center;
  
  
  
}
.container > li {
  background-color: #FF8C42;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 2rem;
  margin: 1rem;
  
  text-align: center;
}


.container > .notdrop {
  background-color: #2F2F2F;
  color: white;
}
  .dropdown-content {
    display:none;
    position: absolute;   
  }


/*Footer*/

.footer {
  padding: 10px;
  margin: auto 0px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: white;
  background-color: black;
  opacity: 50%;

}



/*Contact Form Style*/

.contactcontainer {
  color: #B80C09;
  
  
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Tablet */

@media only screen and (min-width: 550px) and (max-width: 959px){
  .grid {
    grid-template-areas: 
    'header header navigation'
    'main main main'
    'footer footer footer';
    background-color: red;
    
  }
}



/* PC Monitor */



@media only screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-areas: 
    'header header navigation'
    'main main main'
    'footer footer footer';
    /* grid-template-areas: 
    'header header header'
    'none none navigation'
    'main main main'
    'footer footer footer'; */
    grid-template-columns: auto 50%;
    
  }
  
  .container {
    display: flex;
    margin: auto;
    
  }
  .container > li {
    background-color: #FF8C42;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1em;
    
    
  }

  /* Dropdown */ 

  .container > .dropdown:hover {
    background-color: #EFF2F1;
  }
  .dropdown {
    cursor: pointer;
    border: none;
    
  }


  .dropdown-content {
    display:none;
    position: absolute;   
  }
  


  .dropdown-content a {
    display: block;
    animation-name: dropdown;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0,.61,.37,1); /*Used Cubic-bezier.com, did a harsher ease out curve: https://cubic-bezier.com/#0,.61,.37,1 */
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;

    text-align: left;
    background-color: #FF8C42;
    text-decoration: none;
    color: black;  
    font-size: 20px;
    width: 5.5em;
    padding: .2em;
    
  }
  .lastdd-content {
    border-bottom: 1px solid black;
  }
  .dropdown-content a:hover {
    background-color: #B80C09;
  }

    /*Animation*/
  @keyframes dropdown {
    from {
      
      height: 0px;
      opacity: 0%;
      
    }
    to {
      
      height: 1.7em;
      opacity: 100%;
      
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
    
  }

  .main {
    margin: auto 10%;
  }
}
