body {
    background-color: #2F2F2F;
    
}

.header {
    background-color: #B80C09;
    font-family: "Saira", sans-serif;

}
.navigation {
    background-color: #B80C09;
    font-family: "Saira", sans-serif;
    
}

/* Assigned names for grid*/
.header {grid-area:header;}
.navigation {grid-area:navigation;}
.main {grid-area:main;}
.footer {grid-area:footer;}


/* Mobile */

.grid {
    display:grid;
    grid-template-areas: 
    'header'
    'navigation'
    'main'
    'footer';
    padding: 10px;
    grid-gap: 10px;
    
}

.grid > * {
    padding: 1rem;
    border: 1px solid black;

    
}

/*Navigation*/

.container {
  display:flex;
  list-style: none;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}
.container > li {
  background-color: aliceblue;
  border: 1px solid black;
}

/* Tablet */

@media only screen and (min-width: 550px) {
  .grid {
    grid-template-areas: 
    'header header navigation'
    'main main main'
    'footer footer footer';
   
    padding: 10px;
    grid-gap: 10px;
    background-color: red;
  }
}


/* PC Monitor */

@media only screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-areas: 
    'header header navigation'
    'main main main'
    'footer footer footer';
    padding: 10px;
    grid-gap: 10px;
    background-color: blue;
  }
}