body {
    background-color: #2F2F2F;
    
}





.main h2 {
  font-family: "Saira", sans-serif;
  color: #FF8C42;
}

.main p {
  font-family: "Raleway", sans-serif;
  color: #EFF2F1; 
}

/* Assigned names for grid*/
.header {grid-area:header;}
.navigation {grid-area:navigation;}
.main {grid-area:main;}
.footer {grid-area:footer;}


/* Grid for Mobile */

.grid {
    display:grid;
    grid-template-areas: 
    'header'
    'navigation'
    'main'
    'footer';
    padding: 0px;
    grid-gap: 10px;
    
}

.grid > * {
    padding: 10px;
    border: 1px solid black;
    margin: 0px
    
}

/*Header*/

.header {
    background-color: grey;
    font-family: "Saira", sans-serif;
    font-weight: 100;
    color: #EFF2F1;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    height: 6em;
    margin: -10px;
    letter-spacing: .3em;
    
}
.header h1 {
  font-weight: 400;
}


/*Navigation*/


.navigation {
    background-color: #B80C09;
    font-family: "Saira", sans-serif;
    margin: 1em;
    width: 96.5%;
    border: 1px solid #B80C09;
}


.container {
  display:flex;
  list-style: none;
  /* flex-wrap: wrap; */
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
  
}
.container > li {
  background-color: #FF8C42;
  border: 2px solid black;
  border-radius: 30px;
  padding: .5em;
  margin: .3em;
  font-size: 20px;
  white-space: nowrap;
  width: 8em;
  text-align: center;
}
.container > .about {
  background-color: #2F2F2F;
  color: white;
}


/*Footer*/

.footer {
  padding: 10px;
  margin: auto 0px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: white;
  background-color: black;
  opacity: 50%;

}

/* Tablet */

@media only screen and (min-width: 550px) and (max-width: 959px){
  .grid {
    grid-template-areas: 
    'header header navigation'
    'main main main'
    'footer footer footer';
    background-color: red;
  }
}


/* PC Monitor */



@media only screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-areas: 
    'header header header'
    'none none navigation'
    'main main main'
    'footer footer footer';
    grid-template-columns: auto 50%;
    
  }
  .container {
    flex-direction: row;
    justify-content: space-around;
    
  
  }
  .container > li {
  background-color: #FF8C42;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 0px;
  }
  .container > .video:hover {
    background-color: #EFF2F1;
  }
  .dropdown {
    display:none;
    position: absolute;
    border: 1px solid black;
    min-width: 7em;
  }
  .video:hover .dropdown {
    display: block;
  }
  .main {
    margin: auto 10%;
  }
}
